.wrapper {
  padding-bottom: 16px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
}

.toolbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}
