.wrapper {
  position: relative;
  display: flex;
  padding: 16px;
  border-top: 1px solid var(--borderColor);
  overflow: hidden;
}

/* ISSUE STATE */
.states {
  width: 24px;
  height: 24px;
}

.open {
  color: var(--issueOpenColor);
}

.closed {
  color: var(--issueClosedColor);
}

/* ISSUE DESC */

.descWrapper {
  padding-left: 8px;
  padding-right: 24px;
  width: 100%;
}
.descTitle {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
}

.descInfo {
  margin-top: 4px;
  font-size: 12px;
}

/* Comment */
.comment {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
}

.comment svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  padding-top: 1px;
}
