html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  --borderColor: #e1e1e1;
  --issueOpenColor: #1a7f37;
  --issueClosedColor: #8250df;
  --bgActivePageColor: #0969da;
  --bgModalColor: #c8c8c9a7;
  --disableColor: #8c959f;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
